PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=wifi
DATABASE_PASSWORD=wifi
DATABASE_NAME=wifi
# DATABASE_URL=
DATABASE_SSL=false
DB_SYNC=true

RABBITMQ_URL=amqp://wifi:wifi@localhost:5672

FRONTEND_URL=http://localhost:5173,http://localhost:8080

SEED_STORES=true
SEED_CONNECTIONS=true
SEED_CONNECTIONS_COUNT=1500
